@font-face {
    font-family:Netflix-Sans-Regular ;
    src: url("../Fonts/NetflixSansRegular.woff");
}
body{
    margin:0;
    font-family: Netflix-Sans-Regular;
    padding:0;
    background-color: #000;
    color:white;
}
.root{
    background-size: cover;
    background-image: radial-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8)),url("../Images/netflix\ background\ image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    overflow:hidden;

}
.navbar{
    padding:0px 2vw;
    height:10vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.img-logo{
    width:14%;
}

.button-sign-in{
    background-color: #e50914;
    color:white;
    padding:8px 20px;
    border-radius: 5px;
    border:none;
    cursor:pointer;
}



/* MAIN SECTION */



.main-container{
    width:100%;
    height:90vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titles-container{
    text-align: center;
    color:white;
    width:47%;
}

.main-title{
    font-size:3.2em;
    margin-bottom: 14px;
    font-family: Netflix-Sans-Regular;
}

.sub-title{
    font-size:1.5em;
    margin-bottom: 30px;
}

.under-subtitle-text{
    font-size:1.2em;
}

.email-container{
    width:55%;
    height:fit-content;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.email{
width:81.5%;
font-size:1em;
font-family: Netflix-Sans-Regular;
}

.get-started-btn{
    height:60px;
    width:200px;
    background-color: #e50914;
    color:white;
    border:none;
    font-size:1.5em;
    font-family: Netflix-Sans-Regular;
    cursor:pointer;
}
.get-started-btn:hover{
    background-color: #f30914;   
}

/* HORIZONTAL LINE */
.horizontal-line{
    height:10px;
    background-color: #222;
}

/* ENJOY ON YOUR TV */

.enjoy-on-your-tv{
    width:100%;
    height: fit-content;
    color:white;
    margin-top: -21px;
    display:flex;
    justify-content: space-between;
    overflow:hidden;
}
.enjoy-text-container{
    width:40%;
    margin-left: 106px;
    margin-top: 100px;
    height: fit-content;
}
.TV-heading{
    font-size:3.2em;
}
.TV-text{
    font-size:1.5em;
}
.tv-image-edits{
    height:300px;
    width:400px;
    margin-left:10em;
    margin-top:2em;
}
.TV-image{
    height:fit-content;
}
.tv-video{
    position: relative;
    top:-19.3em;
    left:13.1em;
    height:300px;
    width:300px;
    z-index:-1;
}


/* WATCH OFFLINE */
.watch-offline-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.watch-offline-image{
    height:300px;
    width:200px;
    margin-top:80px;
    margin-left:200px;
}
.watch-offline-text{
    height: fit-content;
    width:48%;
    margin-right: 5em;
}
.offline-heading{
    color:white;
    margin-right:3em;
    font-size:3em;
}
.offline-para{
    color:white;
    font-size:1.5em;
}
.downloading{
    border:2px solid #404040;
    border-radius: 5px;
    height:80px;
    width:300px;
    position:absolute;
    left:9em;
    top:85em;
    background-color: rgba(0,0,0,0.94);
}
.stanger-things-poster{
    height:70px;
    width:50px;
    margin-left:20px;
    margin-top:5px;
    border-radius:2px;
}
.stranger-things-text{
    color:white;
    margin-top:-65px;
    margin-left:75px;
    font-size:1.2em;
}
.donwloading-text{
    color:#0071eb;
    margin-left:80px;
    margin-top:-15px;
    font-size:0.8em;
}
.download-loading{
    height: 50%;
    position: relative;
    left:250px;
    top:-50px;
}


/* WATCH EVERYWHERE */

.watch-everywhere{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.watch-everywhere-text-container{
    color:white;
    width:37%;
    margin-left: 10em;
}
.watch-everywhere-heading{
    font-size:3em;
}
.watch-everywhere-para{
    font-size:1.5em;
}
.devices-container{
    height:400px;
    width:300px;
    position: relative;
    left:-20em;
}
.device-image-edits{
    height:420px;
    width:580px;
    
}
.device-video{
    position:relative;
    top:-25em;
    left:6em;
    width:23.8em;
    z-index:-1;
}


/* CHILDREN SECTION */
.children-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
}
.children-section-image-edits{
    height: 400px;
    width:560px;
    margin-left: 7em;
    margin-top: 5em;
}
.children-section-text-container{
    position: relative;
    left:-1.8em;
    width:40%;
}
.children-heading{
    font-size:3em;
}
.children-para{
    font-size:1.5em;
}


/* FREAQUENTLY ASKED QUESTION */
.FAQ{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    margin-top:50px;
}
.accordian-container{
    width:80%;
}
.FAQ-heading{
    font-size: 3em;;
}
.accordian{
    width:80%;
    text-align:left;
    font-size:1.5em;
    background-color: #303030;
    color:white;
    border:none;
    padding:15px;
    margin-left:100px;
    border-bottom: 8px solid black;
}
.accordion:after {
    content: '\02795'; 
    color: white;
}
.panel-text{
    font-size: 1.5em;
}
.panel{
    background-color: #303030;
    border-bottom:10px solid black;
    max-height:0;
    overflow:hidden;
    width:77.1%;
    margin-left:100px;
    transition:max-height 0.2s ease-out;
    text-align:left;
    padding-left:30px;
}
.active{
    background:#474747;
    border-bottom: 2px solid black;
}



/* CTA */
.CTA{

    margin-top: 50px;
}
.heading-CTA{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color:#757575;
    margin-left:8em;
}
.links-container{
    display: flex;
    justify-content: space-evenly;
}
.ul1{
   list-style-type: none;
   line-height:2em;
}
.link-edits{
    text-decoration: none;
    color:#757575;
}

.netflix-india{
    color:#757575;
    font-weight: lighter;
    font-size: 15px;
    margin-left:11em;
    margin-top: 50px;
}